/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : 25-ago-2021, 15:41:13
    Author     : Yisus
*/

.ui-growl .ui-growl-item-container {
    background-color: #00000073;
    padding-left: 5px !important;
    padding-bottom: 0px !important;
    padding-top: 0px !important;
    padding-right: 0px !important;
}

.ui-growl-image-warn + .ui-growl-message {
    color: #333300 !important;
    background-color: #ffe07a !important;
    border-radius: 3px;
    padding: 3px;
}
.ui-growl-image-info + .ui-growl-message {
    color: #004460 !important;
    background-color: #00b3ff7a !important;
    border-radius: 3px;
    padding: 3px;
}
.ui-growl-image-error + .ui-growl-message {
    color: #700000 !important;
    background-color: #f033698a !important;
    border-radius: 3px;
    padding: 3px;
}
.ui-growl-image-fatal + .ui-growl-message {
    color: #700000 !important;
    background-color: #f033698a !important;
    border-radius: 3px;
    padding: 3px;
}
.ui-growl {
    top: 100px !important;
    left: 20px;
}
.ui-growl-item {
    background-color: white;
    border: solid 1px white;
    border-radius: 3px;
    -webkit-border-radius: 3px;
    -moz-border-radius: 3px;
}

.ui-datepicker-calendar tbody tr td {
    border: solid 1px transparent;
}
.ui-dialog {
    position: absolute !important;
}
.ui-filter-column .ui-column-customfilter .custom-filter {
    width: 99.999%;
    box-sizing: border-box;
}

@media screen and (max-width: 40em){
    .ui-fileupload-buttonbar .ui-button {
        padding: .9em 2em .9em 1.2em;
        background-color: #2e8200;
    }
}

.ui-clock {
    font-style: italic;
    border: solid 0px #171c2000 !important;
    padding: 5px;
    border-radius: 3px;
    -webkit-border-radius: 3px;
    -moz-border-radius: 3px;
    background: #215640;
    background: -moz-linear-gradient(top, #215640 0%, #007746 90%);
    background: -webkit-gradient(left top, left bottom, color-stop(0%, #215640), color-stop(90%, #007746));
    background: -webkit-linear-gradient(top, #215640 0%, #007746 90%);
    background: -o-linear-gradient(top, #215640 0%, #007746 90%);
    background: -ms-linear-gradient(top, #215640 0%, #007746 90%);
    background: linear-gradient(to bottom, #21564000 0%, #00774600 90%);
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#215640', endColorstr='#007746', GradientType=0 );
}

.ui-dialog .ui-dialog-titlebar {
    padding: 5px 15px !important;
    border-bottom: solid 1px white !important;
    background-color: #275641;
    color: #fbfcfd;
    border: solid 1px #ffffff;
    text-transform: uppercase;
    border-bottom: 0 none;
}

.ui-dialog .ui-dialog-content {
    padding: 15px !important;
}
.ui-tabs .ui-tabs-panel {
    border-width: 0;
    padding: 0.5em 0.5em;
    background: 0;
}
.ui-button.ui-state-active .ui-button-text, .ui-buttonset .ui-state-active .ui-button-text {
    background: linear-gradient(to bottom, #1c563c 0%, #0da561 100%);
    color: #fdc500 !important;
}
.ui-button-text {
    padding: 6px 20px 6px 40px !important;
    font-size: 14px;
    border: solid 1px #1fbf15;
    color: #ffffff;
    text-shadow: 0 0px 0 #2b5f0e;
    -webkit-box-shadow: inset 0 0 0 1px #2b5f0e;
    -moz-box-shadow: inset 0 0 0 1px #26A3DB;
    box-shadow: inset 0 0 0 1px #1fbf15;
    border-radius: 3px !important;
    -webkit-border-radius: 3px !important;
    -moz-border-radius: 3px !important;
    background: #2c610e;
    background: -moz-linear-gradient(top, #215640 0%, #007746 90%) ;
    background: -webkit-gradient(left top, left bottom, color-stop(0%, #215640), color-stop(90%, #007746)) ;
    background: -webkit-linear-gradient(top, #215640 0%, #007746 90%) ;
    background: -o-linear-gradient(top, #215640 0%, #007746 90%) ;
    background: -ms-linear-gradient(top, #215640 0%, #007746 90%) ;
    background: linear-gradient(to bottom, #215640 0%, #007746 90%) ;
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#215640', endColorstr='#007746', GradientType=0 );
    font-family: 'titillium_webregular' !important;
}

.ui-accordion-header {
    border-radius: 3px;
    -webkit-border-radius: 3px;
    -moz-border-radius: 3px;
    font-size: 14px !important;
    color: #ffffff;
    border: solid 1px #175787 !important;
    font-weight: normal;
    padding: 5px 5px 5px 30px !important;
    background: #215640;
    background: -moz-linear-gradient(top, #215640 0%, #007746 90%);
    background: -webkit-gradient(left top, left bottom, color-stop(0%, #215640), color-stop(100%, #007746));
    background: -webkit-linear-gradient(top, #215640 0%, #007746 90%)!important;
    background: -o-linear-gradient(top, #215640 0%, #007746 90%)!important;
    background: -ms-linear-gradient(top, #215640 0%, #007746 90%)!important;
    background: linear-gradient(to bottom, #215640 0%, #007746 90%)!important;
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#215640', endColorstr='#007746', GradientType=0 );
}

.ui-selectonemenu .ui-selectonemenu-trigger, .ui-selectcheckboxmenu .ui-selectcheckboxmenu-trigger {
    padding: 0 5px !important;
    font-size: 16px !important;
    font-size: 16px;
    border: solid 1px #1fbf15 !important;
    color: #ffffff !important;
    -webkit-box-shadow: inset 0 0 0 1px #569632 !important;
    -moz-box-shadow: inset 0 0 0 1px #26A3DB !important;
    box-shadow: inset 0 0 0 1px #1fbf15 !important;
    text-shadow: 0 -1px 0 #569632;
    z-index: 100;
    border-bottom-right-radius: 5px !important;
    border-top-right-radius: 5px !important;
    margin: -1px -1px -1px 0px !important;
    background: #2d630f !important;
    background: -moz-linear-gradient(top, #215640 0%, #007746 100%) !important;
    background: -webkit-gradient(left top, left bottom, color-stop(0%, #215640), color-stop(100%, #007746)) !important;
    background: -webkit-linear-gradient(top, #215640 0%, #007746 100%) !important;
    background: -o-linear-gradient(top, #215640 0%, #007746 100%) !important;
    background: -ms-linear-gradient(top, #215640 0%, #007746 100%) !important;
    background: linear-gradient(to bottom, #215640 0%, #007746 100%);
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#215640', endColorstr='#007746', GradientType=0 ) !important;
    font-family: 'titillium_webregular' !important;
}
.ui-layout-unit .ui-layout-unit-header {
    color: #fff;
    padding: 6px 6px 8px 10px !important;
    border: solid 1px #215640;
    font-size: 14px;
    background: #215640;
    background: -moz-linear-gradient(top, #215640 0%, #007746 100%);
    background: -webkit-gradient(left top, left bottom, color-stop(0%, #215640), color-stop(100%, #007746));
    background: -webkit-linear-gradient(top, #215640 0%, #007746 100%);
    background: -o-linear-gradient(top, #215640 0%, #007746 100%);
    background: -ms-linear-gradient(top, #215640 0%, #007746 100%);
    background: linear-gradient(to bottom, #215640 0%, #007746 100%);
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#215640', endColorstr='#007746', GradientType=0 );
}
.ui-datatable .ui-datagrid-header, .ui-datatable .ui-datatable-header, .ui-datatable .ui-datatable-subtable-header, .ui-datatable .ui-datatable-summaryrow {
    border: solid 1px #215640;
    color: #ffffff;
    text-shadow: 0 -1px 0 #0a385e;
    margin: 2px 2px 0px 2px;
    border-radius: 3px !important;
    -webkit-border-radius: 3px !important;
    -moz-border-radius: 3px !important;
    background: #215640;
    background: -moz-linear-gradient(top, #215640 0%, #007746 100%);
    background: -webkit-gradient(left top, left bottom, color-stop(0%, #215640), color-stop(100%, #007746));
    background: -webkit-linear-gradient(top, #215640 0%, #007746 100%);
    background: -o-linear-gradient(top, #215640 0%, #007746 100%);
    background: -ms-linear-gradient(top, #215640 0%, #007746 100%);
    background: linear-gradient(to bottom, #215640 0%, #007746 90%);
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#215640', endColorstr='#007746', GradientType=0 );
}

.ui-tabs-top .ui-tabs-nav {
    border-bottom: solid 1px #246500;
    border-bottom-right-radius: 0px;
    border-bottom-left-radius: 0px;
    border: solid 1px #1c4e00 !important;
    font-weight: normal;
    background: #2e650f;
    background: -moz-linear-gradient(top, #215640 0%, #007746 100%);
    background: -webkit-gradient(left top, left bottom, color-stop(0%, #215640), color-stop(100%, #007746));
    background: -webkit-linear-gradient(top, #215640 0%, #007746 100%);
    background: -o-linear-gradient(top, #215640 0%, #007746 100%);
    background: -ms-linear-gradient(top, #215640 0%, #007746 100%);
    background: linear-gradient(to bottom, #215640 0%, #007746 90%);
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#215640', endColorstr='#007746', GradientType=0 );
}
.ui-fieldset-legend {
    border: solid 1px #246500;
    color: #ffffff;
    font-size: 14px;
    line-height: 14px;
    -webkit-transition: all 0.2s ease;
    -moz-transition: all 0.2s ease;
    -ms-transition: all 0.2s ease;
    -o-transition: all 0.2s ease;
    transition: all 0.2s ease;
    background: #215640;
    background: -moz-linear-gradient(top, #215640 0%, #007746 100%);
    background: -webkit-gradient(left top, left bottom, color-stop(0%, #215640), color-stop(100%, #007746));
    background: -webkit-linear-gradient(top, #215640 0%, #007746 100%);
    background: -o-linear-gradient(top, #215640 0%, #007746 100%);
    background: -ms-linear-gradient(top, #215640 0%, #007746 100%);
    background: linear-gradient(to bottom, #215640 0%, #007746 100%);
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#215640', endColorstr='#007746', GradientType=0 );
}
.ui-datepicker-header {
    font-size: 14px;
    border: solid 1px #246500 !important;
    border-radius: 3px;
    -webkit-border-radius: 3px;
    -moz-border-radius: 3px;
    background: #215640;
    background: -moz-linear-gradient(top, #215640 0%, #007746 100%);
    background: -webkit-gradient(left top, left bottom, color-stop(0%, #215640), color-stop(100%, #007746));
    background: -webkit-linear-gradient(top, #215640 0%, #007746 100%);
    background: -o-linear-gradient(top, #215640 0%, #007746 100%);
    background: -ms-linear-gradient(top, #215640 0%, #007746 100%);
    background: linear-gradient(to bottom, #215640 0%, #007746 100%);
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#215640', endColorstr='#007746', GradientType=0 );
}
.ui-tabs-top .ui-tabs-navscroller .ui-tabs-navscroller-btn {
    border: solid 1px #246500;
    height: 33px;
    padding: 0px 3px;
    -webkit-box-shadow: inset 0 0 0 1px #569632;
    -moz-box-shadow: inset 0 0 0 1px #569632;
    box-shadow: inset 0 0 0 1px #569632;
    background: #215640;
    background: -moz-linear-gradient(top, #215640 0%, #007746 100%);
    background: -webkit-gradient(left top, left bottom, color-stop(0%, #215640), color-stop(100%, #007746));
    background: -webkit-linear-gradient(top, #215640 0%, #007746 100%);
    background: -o-linear-gradient(top, #215640 0%, #007746 100%);
    background: -ms-linear-gradient(top, #215640 0%, #007746 100%);
    background: linear-gradient(to bottom, #215640 0%, #007746 100%);
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#215640', endColorstr='#007746', GradientType=0 );
}
.ui-datatable .ui-paginator .ui-state-active, .ui-datatable .ui-paginator .ui-paginator-pages .ui-state-active {
    background-color: #2c620e9e;
    color: #ffffff !important;
    background-repeat: no-repeat;
    border: solid 1px #2c600e5e;
}
.ui-panel .ui-panel-titlebar {
    padding: 4px 4px 4px 4px !important;
    font-size: 14px;
    border: solid 1px #2c610e;
    color: #ffffff;
    text-shadow: 0 -1px 0 #468c1f;
    z-index: 100;
    border-radius: 3px !important;
    -webkit-border-radius: 3px !important;
    -moz-border-radius: 3px !important;
    background: #2c600e;
    background: -moz-linear-gradient(top, #215640 0%, #007746 90%);
    background: -webkit-gradient(left top, left bottom, color-stop(0%, #215640), color-stop(90%, #007746));
    background: -webkit-linear-gradient(top, #2c610e 0%, #2c600e 90%);
    background: -o-linear-gradient(top, #215640 0%, #007746 90%);
    background: -ms-linear-gradient(top, #215640 0%, #007746 90%);
    background: linear-gradient(to bottom, #215640 0%, #007746 90%);
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#215640', endColorstr='#007746', GradientType=0 );
    font-family: 'titillium_webregular' !important;
}
.ui-dialog .ui-dialog-footer {
    padding: 10px 20px !important;
    border-top: solid 1px #ffffff !important;
    background-color: white;
    margin: 0px !important;
    text-align: right !important;
    box-shadow: rgb(60 64 67 / 30%) 0px 1px 2px 0px, rgb(60 64 67 / 15%) 0px 2px 6px 2px !important;
}

.ui-panel .ui-panel-footer {
    text-align: right;
}
.PurpleButton .ui-button-text {
    box-shadow: inset 0 0 0 1px #b861d1;
    border: solid 1px #b861d1;
    border-radius: 3px !important;
}
.CyanButton .ui-button-text {
    box-shadow: inset 0 0 0 1px #56d4e5;
    border: solid 1px #56d4e5;
    border-radius: 3px !important;
}
.BrownButton .ui-button-text {
    box-shadow: inset 0 0 0 1px #ac938b;
    border: solid 1px #7e7e7e;
    border-radius: 3px !important;
}
.GrayButton .ui-button-text {
    box-shadow: inset 0 0 0 1px #ffffff;
    border: solid 1px #7a7a7a;
    border-radius: 3px !important;
}
.ui-panel .ui-panel-title {
    margin: .1em 16px .2em 0;
    text-transform: uppercase;
}
@media screen and (min-width: 500px){
    .cortar{
        width: 10%;
        text-overflow:ellipsis;
        white-space:nowrap; 
        overflow:hidden;
        box-sizing: border-box;
    }
    .cortar:hover {
        overflow:visible;
        cursor: auto;
        white-space: pre-wrap;
        word-wrap: normal;
        word-break: keep-all;
    }
}
@media screen and (min-width: 500px){
    .cortar_header{
        width: 100%;
        text-overflow:ellipsis;
        white-space:nowrap; 
        overflow:hidden;
        box-sizing: border-box;
    }
    .cortar_header:hover {
        overflow:visible;
        cursor: auto;
        white-space: pre-wrap;
        word-wrap: normal;
        word-break: keep-all;
    }
}
.ui-corner-all, .ui-corner-bottom, .ui-corner-right, .ui-corner-br {
    border-bottom-right-radius: 3px;
}
.ui-corner-all, .ui-corner-bottom, .ui-corner-left, .ui-corner-bl {
    border-bottom-left-radius: 3px;
}

.ui-corner-all, .ui-corner-top, .ui-corner-right, .ui-corner-tr {
    border-top-right-radius: 3px;
}
.ui-corner-all, .ui-corner-top, .ui-corner-left, .ui-corner-tl {
    border-top-left-radius: 3px;
}
.ui-button-text {
    border-radius: 3px !important;
}
.ui-selectonemenu .ui-selectonemenu-trigger, .ui-selectcheckboxmenu .ui-selectcheckboxmenu-trigger {
    border-radius: 3px !important;
}
.ui-datatable .ui-paginator .ui-paginator-first, .ui-datatable .ui-paginator .ui-paginator-prev, .ui-datatable .ui-paginator .ui-paginator-pages .ui-paginator-page, .ui-datatable .ui-paginator .ui-paginator-next, .ui-datatable .ui-paginator .ui-paginator-last, .ui-datatable .ui-paginator .ui-paginator-rpp-options {
    border-radius: 3px !important;
    -webkit-border-radius: 3px !important;
    -moz-border-radius: 3px !important;
}
.ui-selectonebutton .ui-button.ui-corner-left .ui-button-text, .ui-selectmanybutton .ui-button.ui-corner-left .ui-button-text {
    -webkit-border-top-left-radius: 3px !important;
    -webkit-border-bottom-left-radius: 3px !important;
}
.ui-selectonebutton .ui-button.ui-corner-right .ui-button-text, .ui-selectmanybutton .ui-button.ui-corner-right .ui-button-text {
    -webkit-border-top-right-radius: 3px !important;
    -webkit-border-bottom-right-radius: 3px !important;
}
.ui-selectonebutton .ui-button .ui-button-text, .ui-selectmanybutton .ui-button .ui-button-text {
    -webkit-border-radius: 3px !important;
}
.ui-selectonebutton, .ui-selectmanybutton {
    border: solid 0px #8FA9B3;
}
.ui-datepicker .ui-datepicker-title select {
    font-size: 1.2em;
    margin: 1px 0;
    border-radius: 3px;
}
.ui-chkbox .ui-chkbox-box {
    border: 1px solid #D4D6D9;
    border-width: 2px;
    background: #ffffff;
    width: 1rem;
    height: 1rem;
    text-align: center;
    position: relative;
    border-radius: 3px;
    transition: background-color 0.2s, color 0.2s, border-color 0.2s, box-shadow 0.2s;
}

/*########################################################################################################################################################################################*/
/*.ui-selectonemenu .ui-selectonemenu-trigger, .ui-selectcheckboxmenu .ui-selectcheckboxmenu-trigger {
    border: solid 1px #27a3db !important;
}*/

.ui-datatable .ui-datatable-tablewrapper table tbody tr td .ui-row-toggler.ui-icon-circle-triangle-e {
    background-size: 160%;
}
.ui-datatable .ui-datatable-tablewrapper table tbody tr td .ui-row-toggler.ui-icon-circle-triangle-s {
    background-size: 160%;
}

.ui-datatable .ui-datatable-tablewrapper table tbody .ui-state-highlight > td, .ui-datatable-scrollable table tbody .ui-state-highlight > td {
    background-color: #007746;
}
.ui-panel .ui-panel-content.ui-widget-content {
    padding: 0px;
}
ui-datatable .ui-datatable-tablewrapper table thead tr th, .ui-datatable 
.ui-datatable-tablewrapper table tfoot tr td, 
.ui-datatable-scrollable-footer-box table tfoot tr td, .ui-datatable table thead tr th {
    padding: 3px !important;
}

.ui-datatable .ui-datatable-tablewrapper {
    padding: 1px;
}


.flex-grid {
    display: flex;
    flex-wrap: wrap;
    align-content: stretch;
    align-items: stretch;
    flex-direction: row;
}

.col {
    flex-grow: 1;
    flex-basis: 0;
    padding: 0.5rem;
    padding: 2px;
    margin: 2px;
    align-items: stretch;
    display: flex;
}

.col-2{
    flex-grow: 2;
}
.col-3{
    flex-grow: 3;
}
.col-4{
    flex-grow: 4;
}
.col-5{
    flex-grow: 5;
}
.col-6{
    flex-grow: 6;
}

/* MEDIA QUERIES FOR CORE LAYOUT **************************************************************************************************************** */

/* Large desktop */
@media (min-width: 960px){
    .mr1024_20 { width: 20% !important; }
    .mr1024_30 { width: 30% !important; }
    .mr1024_40 { width: 40% !important; }
    .mr1024_50 { width: 50% !important; }
    .mr1024_60 { width: 60% !important; }
    .mr1024_70 { width: 70% !important; }
    .mr1024_80 { width: 80% !important; }
    .mr1024_90 { width: 90% !important; }
    .mr1024_100 { width: 100% !important; }
}

@media (min-width: 960px) and (max-width:1200px){
} 

/* Portrait tablet to landscape and desktop */
@media (min-width: 640px) and (max-width: 960px) {
    .mr1024_40 { width: 50% !important; }
    .mr500_80 { width: 70% !important;}
    .mr500_90 { width: 80% !important;}
    .mr500_100 { width: 90% !important;}
}


/* Landscape phone to portrait tablet */
@media (min-width:480px) and (max-width: 640px) {	
    .mr500_80 { width: 80% !important;}
    .mr500_90 { width: 90% !important;}
    .mr500_100 { width: 100% !important;}
}


/* Portrait phones and down */
@media (min-width:320px) and (max-width: 480px) {
    .mr500_80 { width: 85% !important;}
    .mr500_90 { width: 90% !important;}
    .mr500_100 { width: 95% !important;}
}

@media screen and (min-width: 1920px ) {
    .height_port {height: 95vh}
}

.iconexporter{
    width: 24px;
    height: 24px;
    background-color: white;
    padding: 2px;
    border-radius: 5px;
}

.botonFloat{
    margin-top: -33.5px;float: right
}


.my_shadows{
    box-shadow: rgb(60 64 67 / 30%) 0px 1px 2px 0px, rgb(60 64 67 / 15%) 0px 2px 6px 2px !important;
    padding: 5px !important;
    border-radius: 3px
}

.redCar{
    -webkit-text-fill-color: red;
    -webkit-text-stroke-width: 0.5px;
    -webkit-text-stroke-color: #7c0000;
    /*text-shadow: #00000059 1px 1px !important;*/
}
.yellowCar{
    -webkit-text-fill-color: yellow;
    -webkit-text-stroke-width: 0.5px;
    -webkit-text-stroke-color: #3d3d3d;
    /*text-shadow: #00000059 1px 1px !important;*/
}
.redCar_II{
    -webkit-text-fill-color: red;
}
.yellowCar_II{
    -webkit-text-fill-color: yellow;
}

.ui-picklist-responsive .ui-picklist-buttons-cell .ui-button .ui-icon {
    position: sticky !important;
}

.ui-picklist.ui-picklist-responsive .ui-picklist-buttons button {
    border: solid 1px #175787;
    background: #215640;
    background: -moz-linear-gradient(top, #215640 0%, #007746 100%) !important;
    background: -webkit-gradient(left top, left bottom, color-stop(0%, #215640), color-stop(100%, #007746));
    background: -webkit-linear-gradient(top, #215640 0%, #007746 100%) !important;
    background: -o-linear-gradient(top, #215640 0%, #007746 100%) !important;
    background: -ms-linear-gradient(top, #215640 0%, #007746 100%) !important;
    background: linear-gradient(to bottom, #215640 0%, #007746 100%);
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#215640', endColorstr='#007746', GradientType=0 );
}

/*.ui-inputfield.ui-state-hover, .ui-inputfield.ui-state-focus{border:solid 1px #007746; color:#007746 !important;}

.ui-widget .ui-state-focus,
.ui-widget.ui-state-focus{-webkit-box-shadow: 0 0 5px 0 #007746; box-shadow: 0 0 4px 0 #007746;}*/

/*.ui-selectonemenu .ui-selectonemenu-trigger, .ui-selectcheckboxmenu .ui-selectcheckboxmenu-trigger {
    border: solid 1px #215640 !important;
}*/

.ui-datatable .ui-datatable-tablewrapper table tbody .ui-state-hover > td{background-color:#007746; color: #FFFFFF;}

/*.ui-datatable-scrollable-body {
    overflow: overlay;
}*/

.ui-carousel .ui-carousel-header {
    border: solid 1px #1fbf15 !important;
    height: auto !important;
    padding: 2px 10px !important;
    border-radius: 3px;
    -webkit-border-radius: 3px;
    -moz-border-radius: 3px;
    background: #215640;
    background: -moz-linear-gradient(top, #215640 0%, #007746 100%);
    background: -webkit-gradient(left top, left bottom, color-stop(0%, #215640), color-stop(100%, #007746));
    background: -webkit-linear-gradient(top, #215640 0%, #007746 100%);
    background: -o-linear-gradient(top, #215640 0%, #007746 100%);
    background: -ms-linear-gradient(top, #215640 0%, #007746 100%);
    background: linear-gradient(to bottom, #215640 0%, #007746 100%);
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#215640', endColorstr='#007746', GradientType=0 );
}
.btn-flex{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: flex-start;
}